@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --App-Color: #1e1e1e;
  --Color-span: ##ec722f;

  --Header-Color: #1e1e1e;
  --Color-Border-Btn: #03c22d;
  --Container-Padding: 80px 0;
  --Fuente: "Roboto";
  --Border-btn: #547a7f;
  --ColorBTN: #05131b;
  --Main-h1-color: #86fbe5;
  --Color-Hover: #041f29;

  --SegundaFuente: sans-serif;
  --Color-Span: #ff7a00;
  --Line-Border: #86fae5;
  --Color-Card: #141d2739;
  --Color-Border_NoHover: #253246;
  --Color-Blur: #06333b;
  --Backgroud-Color: #000913;
  --Border-Second-Section: #142d32;
  --Color-Span-Second: #86fae5;
  --Border-Input: #0f252b;
  --Backgroud-input: #01121c;
  --Color-btn: #faff00;
  --Color-Carousel: #1b2024;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, max-content);
  grid-template-areas:
    "main"
    "main2"
    "main3"
    "main4"
    "main5"
    "main6"
    "main7"
    "main8";
}

.main__hero {
  background-color: var(--App-Color);
}

.container {
  width: 90%;

  color: white;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
}

.hero-img {
  width: 45%;
  max-width: 100px;
}

.img-logo {
  width: 100%;
  display: block;
}

.main__hero {
  grid-area: main;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 10px;
  text-decoration: none;
  margin-left: 2px;
  color: white;
}
.btn_primary_btn {
  display: flex;
  justify-content: end;
}

.btn__Primary {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  width: 118px;
  border: 1px solid var(--Color-Border-Btn);
  padding: 6px 16px;
  border-radius: 30px;
  font-weight: 400;
  box-shadow: 0 0 1px;
}

.btns-bottom {
  display: flex;
  width: 267px;
  position: relative;
  left: 15px;
  gap: 0px;
}

.main__main2 {
  grid-area: main2;
  background-color: var(--App-Color);
}

.main__title {
  text-align: center;
}

.main__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header__span {
  color: var(--Color-Span);
}

.header__span:hover {
  color: #e3b78d;
}

.main__main3 {
  grid-area: main3;

  background-color: var(--App-Color);
}

.main__video {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 (9 / 16 = 0.5625) */
  height: 0;
  overflow: hidden;
}

.main__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__main__btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn_header__main {
  color: white;
  text-decoration: none;
  width: 100%;
  max-width: 200px;

  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 400;
  box-shadow: 0 0 1px;
  font-size: 13px;
  font-family: var(--SegundaFuente) !important;
  background-color: var(--ColorBTN) !important;
  border: 1px solid var(--Border-btn);
}

.btn__btn {
  margin-left: 10px;
}

.main__main4 {
  background-color: var(--App-Color);
}

.main__content2 {
  grid-area: main4;

  background-image: url(.:/../Public/egilla.png);
  background-size: cover;
  background-position: center center;
}

.card__title {
  text-align: center;
}

.span__main {
  color: var(--Main-h1-color);
}

.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "element1 element1 element2 element2"
    "element1 element1 element2 element2"
    "element3 element3 element4 element4"
    "element3 element3 element4 element4";

  gap: 30px;
}

.item1 {
  grid-area: element1;
}
.item2 {
  grid-area: element2;
}
.item3 {
  grid-area: element3;
}
.item4 {
  grid-area: element4;
}

.main__cards {
  border: 2px solid var(--Color-Border_NoHover);
  margin-top: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  background-color: var(--Color-Card);
}

.main__cards:hover {
  /*background: var(--Color-Hover);*/
  box-shadow: inset 0 0 10px 5px var(--Color-Blur);
  border-color: var(--Line-Border);
  transform: translateY(-5px);
}

.card__border {
  display: flex;

  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
}

.img {
  display: block;
}

.Section__Profecion {
  display: block;
}

.section__main5 {
  grid-area: main5;

  background-color: var(--Backgroud-Color);
  border: 2px solid var(--Border-Second-Section);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  bottom: 7px;
}

.main__form {
  text-align: center;
}

.Second_SPan {
  color: var(--Color-Span-Second);
}

.section__main6 {
  background-color: var(--Color-Carousel);
}

.main5__title {
  margin: 15px 15px;
}

.There__SPan {
  color: var(--Color-Span);
}

.main5__paragrah {
  font-size: 15px;

  margin-bottom: 20px;
}
.main5__paragrah2 {
  font-size: 13px;
}

.Input {
  width: 100%;
  border-color: var(--Border-Input);
  background-color: var(--Backgroud-input);
  margin-bottom: 5px !important;
}

.btn-Field {
  width: 100% !important;
  padding: 10px !important;
  margin-top: 10px !important;
}
.Text__fields__both {
  display: flex;
  width: 100%;
  gap: 8px !important;
}

.section__main6 {
  grid-area: main6;
  position: relative;
  bottom: 7px;

  padding-bottom: 20px;
}

.carousel {
  width: 300px;
  margin-top: 10px;
}
.livegood_h1 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.span__livegood {
  color: var(--Color-Span);
}

.img__Section__there {
  margin: 0 auto;
  padding-top: 20px;
}

.Carousel {
  margin: 0 auto !important;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1ft);
  grid-template-rows: repeat(1, 1ft);
  grid-template-areas: "element20";
}

.main__carousel {
  margin: 0 auto !important;
  width: 100%;
}

.item20 {
  grid: element20;
}

h3 {
  margin: 0 auto !important;
}

.slick-slider {
  margin: 0 auto !important;
}

.h1__footer {
  font-size: 19px;
  margin-bottom: 15px;
}

.step {
}

.flecha {
  width: 0;
  height: 0;
  background-color: transparent;
  border-right: 20px solid transparent;

  border-left: 20px solid transparent;
  border-top: 25px solid #86fbe5;
  position: relative;
  left: 150px;
  top: 45px;
}

.acordeon-box {
  background-image: url(../public/egilla.png);
}

.detalles {
  background-color: transparent !important;
}

.title {
  margin-right: 0 auto !important;
}

.section__main7 {
  grid-area: main7;
  background-image: url(../public/egilla.png);
  background-color: var(--App-Color);
  position: relative;
  bottom: 7px;
}

.span__ia {
  color: #86fae5;
}

.main__ia__title {
  text-align: center;
  margin-bottom: 20px;
}

.destok {
  display: none;
}

.stpes {
  display: none;
}
.img-card {
  width: 50px;
}

.Section__Profecion {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  left: 25px;
}

.img-card2 {
  position: relative;
  left: 36px;
}

.Section__Profecion2 {
  position: relative;
  right: 40px;
  left: 10px;
  font-size: 10px;
}

.Section__Name2 {
  position: relative;

  font-size: 17px;
  left: 10px;
}

.img-card3 {
  position: relative;
  left: 50px;
}

.Section__Profecion3 {
  position: relative;
  left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Section__Name3 {
  font-size: 16px;
  margin-top: 7px;
  position: relative;
  left: 27px;
  font-size: 17px;
}

.img-card4 {
  position: relative;
  left: 46px;
}

.Section__Profecion4 {
  position: relative;
  left: 10;
  font-size: 12px;
}

.Section__Name4 {
  margin-top: 10px;
  font-size: 14px;
  font-size: 20px;
  position: relative;
  left: 4px;
}

.imagen {
  position: relative;
  left: 15px;
}

.main__footerPage {
  grid-area: main8;
}

.section__main8 {
  background-color: var(--App-Color);
  position: relative;
  bottom: 10px;
}

.card__footer__app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.border__card__app {
  border: 1px solid royalblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #13191f;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
#root {
  background-color: var(--App-Color);
}

@media (min-width: 708px) {
  .container {
    width: 85%;
    padding: 70px 0;
  }

  .main__content2 {
    grid-area: main4;
  }

  .img-logo {
    max-width: 700px;
  }
  .btn_primary_btn {
    max-width: 100px;
  }

  .destok {
    display: block;
  }
  .celular {
    display: none;
  }

  .btn {
    margin-left: 20px;
    font-size: 16px;
    align-items: flex-end;
    font-size: 30px;
  }

  .btn__Secundary {
    margin-top: 10px;
    font-size: 25px;
  }

  .btn__Primary {
    width: 260px;
    padding: 10px 10px;
  }

  .hero-img {
    max-width: 300px;
  }

  .h2 {
    font-size: 60px;
  }

  .header__main__btn {
  }

  .main__video {
    position: relative;
    margin: 0 auto;

    overflow: hidden;
    height: 700px;
    max-width: 1000px;
    max-height: 600px;
  }

  .main__video iframe {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
    margin: 0 auto;
  }

  .btn_header__main {
    color: white;
    text-decoration: none;
    width: 100%;
    max-width: 380px;

    padding: 18px 20px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0 1px;
    font-size: 28px;
    font-family: var(--SegundaFuente) !important;
    background-color: var(--ColorBTN) !important;
    border: 1px solid var(--Border-btn);
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .btn__btn {
    margin-top: 2px;
  }

  .card__title {
    font-size: 70px;
  }

  .item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border-radius: none;
  }
  .main__cards {
    border-radius: 0px;
  }
  .item1 {
    border-radius: none;
    width: 400px;
  }
  .item2 {
    width: 400px;
  }
  .item3 {
    width: 400px;
  }
  .item4 {
    width: 400px;
  }

  .img-card {
    width: 100px;
  }

  .Section__Profecion {
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    left: 24px;
  }

  .img-card2 {
    position: relative;
    left: 70px;
  }

  .Section__Profecion2 {
    position: relative;

    left: 0;
    font-size: 20px;
  }

  .Section__Name2 {
    position: relative;
    left: 52px;
    font-size: 20px;
  }

  .img-card3 {
    position: relative;
    left: 100px;
  }

  .Section__Profecion3 {
    position: relative;
    left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Section__Name3 {
    font-size: 16px;
    margin-top: 0px;
    position: relative;
    left: 95px;
    font-size: 20px;
  }

  .img-card4 {
    position: relative;
    left: 56px;
  }

  .Section__Profecion4 {
    position: relative;
    left: 0;
  }

  .Section__Name4 {
    margin-top: 10px;
    font-size: 16px;
    font-size: 20px;
    position: relative;
    left: 40px;
  }

  .main5__title {
    font-size: 50px;
  }

  .main5__paragrah2 {
    font-size: 33px;
  }
  .main5__paragrah {
    font-size: 33px;
  }

  .form {
    width: 100%;
    height: 100%;
  }

  .formbox {
    margin: 0 auto;
    max-width: 800px;
    max-height: 500px;
  }
  .Input {
    max-width: 800px;
  }

  .section__main5 {
    background-image: url(../public/egilla.png);
  }

  .h1__footer {
    font-size: 50px;
  }

  .livegood_h1 {
    font-size: 50px;
  }

  .Carousel {
    width: 100%; /* Cambiar el ancho para pantallas más pequeñas */
    height: 600px;
    margin-bottom: 300px; /* Cambiar la altura para pantallas más pequeñas */
  }

  .ant-carousel {
    width: 1300px;
  }
  .slick-slider {
    width: 600px;
  }

  .img__Section__there {
    width: 400px;
  }

  .item20 {
    margin-bottom: 300px;
  }

  .main6__descriptions {
    margin-top: 300px;
  }

  .h3-carousel {
    height: 440px !important;
  }
  .acordeon-box {
    display: none;
  }
  .stpes {
    display: block !important;
    color: white;
  }

  .ant-steps-item-title {
    color: white !important;
  }

  .ant-steps-item-icon:where {
    background-color: #1677ff;
  }

  .main__ia__title {
    font-size: 50px;
  }

  :where(.ant-steps .ant-steps-item-wait .ant-steps-item-icon) {
    background-color: #1677ff;
  }

  :where(.css-dev-only-do-not-override-p7e5j5).ant-steps
    .ant-steps-item-wait
    .ant-steps-item-icon {
    background-color: #1677ff;
    border-color: transparent;
  }

  :where(.css-dev-only-do-not-override-p7e5j5).ant-steps
    .ant-steps-item-wait
    .ant-steps-item-icon
    > .ant-steps-icon {
    color: white;
  }

  .main {
    width: 100vw;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #root {
    background-color: var(--App-Color);
  }

  .ant-steps-item-title {
    color: white !important;
    font-size: 26px !important;
  }

  .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 20px;
  }
}
